
.container {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.pickup-layout {
    display: grid;
    grid-template-columns: 45% 55%;
    width: 100%;
}

.vehicle-card {
    background: #FFF4F4;
    padding: 30px;
    padding-bottom: 20px;
    padding-top: 25px;
    height:100%;
}

#res_txt{
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    color: gray;
    padding: 0px;
}

#car_name{
    font-weight: bold;
    font-size: 32px;
    padding: 0px;
    margin:0px;
    line-height: 1.2;
}

#car_type{
    font-size: 18px;
    color: gray;
    padding: 0px;
    margin: 0px;
    line-height: 0.3;

}

#car_det{
    font-weight: bold;
    font-size: 22px;
    padding: 0px;
    margin:0px;
}

.vehicle-card img {
    width: 100%;
    margin-bottom: 0px;
    height: auto;
    display: block;
}
.features img{
    height:25px;
    width: auto;
    margin-right: 10px;
}
.features li{
    display: flex;
    align-items: center;
}
.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

#day_pr {
    text-align: right;
    font-weight: bold;
    margin-top: 25px;
    font-size: 26px;
    color: #CB3737;
    margin-bottom: 0px;
}

#all_pr{
    text-align: right;
    margin: 0px;
    font-size: 18px;
    color: gray;
}


