
.container {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.pickup-layout {
    display: grid;
    grid-template-columns: 45% 85%;
    width: 100%;
    height: 100%;
}

.vehicle-card {
    background: #FFF4F4;
    padding: 30px;
    padding-bottom: 20px;
    padding-top: 25px;
    height:100%;
}

#res_txt{
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    color: gray;
    padding: 0px;
}

#car_name{
    font-weight: bold;
    font-size: 32px;
    padding: 0px;
    margin:0px;
    line-height: 1.2;
}

#car_type{
    font-size: 18px;
    color: gray;
    padding: 0px;
    margin: 0px;
    line-height: 0.3;

}

#car_det{
    font-weight: bold;
    font-size: 22px;
    padding: 0px;
    margin:0px;
}

.vehicle-card img {
    width: 100%;
    margin-bottom: 0px;
    height: auto;
    display: block;
}
.features img{
    height:25px;
    width: auto;
    margin-right: 10px;
}
.features li{
    display: flex;
    align-items: center;
}
.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

#day_pr {
    text-align: right;
    font-weight: bold;
    margin-top: 25px;
    font-size: 26px;
    color: #CB3737;
    margin-bottom: 0px;
}

#all_pr{
    text-align: right;
    margin: 0px;
    font-size: 18px;
    color: gray;
}

#form_name {
    text-align: center;
    font-weight: bold;
    font-size: 34px;
    padding: 0px; 
}

.pickup_form{
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 50px;
}

.main_txt{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 0px;
}

.sub_txt{
    font-size: 18px;
    color: gray;
}

.form-row {
    display: grid;
    grid-template-columns: 700px 200px;
    gap: 100px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.form-row label {
  display: block;
  margin-bottom: 3px;
  font-weight: bold;
}

input {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 100%;
}

.checkbox{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    font-weight: bold;
}

.checkbox input{
    width: 20px;
    margin-right: 7px;
    cursor: pointer;
}

#btn_div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn-primary {
    background: #CB3737;
    color: white;
    border: none;
    padding: 4px;
    border-radius: 10px;
    width: 40%;
    cursor: pointer;
}
