* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(to right, #e87a73 50%, #fdebe7 50%);
}

.container {
  display: flex;
  height: 100vh;
}

.left {
   position: relative;
    flex: 0 0 50%; /* Takes half the width */
    padding: 40px;
    color: white;
    /* Gradient Background for the left side */
    background: linear-gradient(135deg, #FF6F6F 0%, #E63946 100%);
}

.left h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.left p {
  font-size: 18px;
}

.car {
  position: absolute;
  bottom: 60px;
  left: 60px;
  width: 420px;
}

.right {
  flex: 1; /* Takes the remaining half */
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top right, #fce4ec, #fff0f5); /* Light pink to white */
}

.card {
  width: 420px;
  background: #fff;
  padding: 40px;
  border-radius: 25px;
}

.card h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  margin-top: 12px;
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

input[readonly] {
  background: #f3f3f3;
}

button {
  margin-top: 25px;
  width: 100%;
  padding: 12px;
  background: #cf3c36;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}
